<div class="ui modal card-details">
    <i class="close icon"></i>
    <div class="header">
        Enter Meeting Info
    </div>

    <div class="content">
        <% include formForCard %>

        <div class="ui error message">
            <div class="header">Action Forbidden</div>
            <p>Enter All the Fields</p>
        </div>
    </div>

    <div class="actions">
        <div class="ui button cancel">Cancel</div>
        <button class="ui button okay">OK</button>
        <button class="ui button upt">Update</button>
    </div>

</div>

<script src="js/modalScript/modal.js"></script>