<% include header %>

    <div class="ui container centered" style="margin-top: 10rem" align="center">
        <h1 style="color: White">Welcome to Sched!</h1>
        <button class="ui button purple" onclick='location.href="/user/signupin"'>Sign Up or Login</button>
    </div>

<% include footer %>

