<% include header %>

    <div style="background: url(/images/template404.jpg) no-repeat center; width: 17rem; height: 15rem; border-radius: 10px; margin-top: 10rem" class="ui container"></div>

<% include footer %>

<script>

    $('body').css('overflow', 'hidden')

</script>