<div class="ui mini modal mes inverted" style="z-index: 10">
    <div align="center" style="padding: 20px">
        <h2 class="ui centered"></h2>
        <button class="ui inverted orange button"></button>
    </div>
</div>