
<!--<div style="color: white; width: 100%; margin-top: 50px; position: relative; bottom: 0px">-->
    <!--Footer-->
<!--</div>-->

<div style="border: solid 3px #0f0f10; border-radius: 2px; width: 100%; margin-top: 50px"></div>

<script src="js/errorModal.js"></script>

</body>
</html>