<div class="description clock-div" style="margin-top: -20px">

    <link rel="stylesheet" href="css/clock.css">

    <div class="container1 days left floated">
        <% include clockInnerContent %>
    </div>

    <div class="container1 hrs left floated">
        <% include clockInnerContent %>
    </div>

    <div class="container1 mins left floated">
        <% include clockInnerContent %>
    </div>

</div>