
<div align="center" style="margin: 30px 0px 0px 0px"><h1 style="color: papayawhip">This Week</h1></div>
<div style="border: solid 3px white; border-radius: 2px; width: 100%"></div>

<div id="tw" data-catop="0" style="width: 100%" class="ui four column doubling stackable grid centered">
    <div class="ui link cards centered" style="margin-top: 10px"></div>
</div>

<div align="center" style="margin: 30px 0px 0px 0px"><h1 style="color: papayawhip">Upcoming</h1></div>
<div style="border: solid 3px white; border-radius: 2px; width: 100%"></div>

<div id="uc" data-catop="1" style="width: 100%" class="ui four column doubling stackable grid centered">
    <div class="ui link cards centered" style="margin-top: 10px"></div>
</div>

<div align="center" style="margin: 30px 0px 0px 0px"><h1 style="color: papayawhip">Past Events</h1></div>
<div style="border: solid 3px white; border-radius: 2px; width: 100%"></div>

<div id="pe" data-catop="2" style="width: 100%" class="ui four column doubling stackable grid centered">
    <div class="ui link cards centered" style="margin-top: 10px"></div>
</div>









