<div id="actNav" class="ui three item menu centered sticky inverted"
     style="background-color: #0f0f10; width: inherit">
    <a id="tw" data-option="0" class="active item">This Week</a>
    <a id="uc" data-option="1" class="item">Upcoming</a>
    <a id="pe" data-option="2" class="item">Past Events</a>
    <div class="ui teal buttons inverted">
        <div class="ui floating dropdown icon button">
            <i class="dropdown icon"></i>
            <div class="menu">
                <div class="item">Home</div>
                <div class="item modalAdd">Add Event</div>
                <div class="item logout">Logout</div>
                <div class="ui dropdown item timeSort">
                    <i class="dropdown icon"></i>
                    Time Left
                    <div class="menu">
                        <a class="item inc">Increasing</a>
                        <a class="item dec">Decreasing</a>
                    </div>
                </div>
                <div class="ui dropdown item urgSort">
                    <i class="dropdown icon"></i>
                    Urgency
                    <div class="menu">
                        <a class="item inc">Increasing</a>
                        <a class="item dec">Decreasing</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>