<div id="sidMen" class="ui vertical menu inverted" style="position: fixed; margin: 10px 0px 0px 20px">
    <a class="active teal item">
        Home
    </a>
    <a class="item modalAdd">
        Add Event
    </a>
    <a class="item mapItem">
        Maps
    </a>
    <a class="item logout">
        Logout
    </a>
    <div class="item searchItem">
        <div class="ui transparent icon input">
            <input type="text" placeholder="Search mail...">
            <i class="search icon"></i>
        </div>
    </div>
</div>

<div class="sorting ui vertical menu inverted" style="position: fixed; margin: 240px 0px 0px 20px">
    <label class="ui item" style="background-color: white; color: black">
        Sort Options
    </label>
    <div class="ui dropdown item timeSort">
        <i class="dropdown icon"></i>
        Time Left
        <div class="menu">
            <a class="item inc">Increasing</a>
            <a class="item dec">Decreasing</a>
        </div>
    </div>
    <div class="ui dropdown item urgSort">
        <i class="dropdown icon"></i>
        Urgency
        <div class="menu">
            <a class="item inc">Increasing</a>
            <a class="item dec">Decreasing</a>
        </div>
    </div>
</div>

