<div id="forgPassDiv" class="ui container centered"
     style="background-color: white; border-radius: 15px; padding: 10px; width: 30%; margin-top: 10%">

    <h2>Password Recovery</h2>

    <form id="forgPassForm" class="ui form centered">
        <div class="field">
            <label>Enter Your Recovery Email</label>
            <input type="email" name="recovEmail" placeholder="Recovery Email!">
        </div>
        <button class="ui button orange" type="submit">Submit</button>
        <button class="ui button orange goBack" type="button">Go Back</button>
    </form>
</div>

<% include ../errorModal %>